aiohttp==3.2.1
astroid==2.3.1
async-timeout==3.0.1
attrs==19.3.0
cairocffi==1.1.0
CairoSVG==2.1.3
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
colorama==0.4.1
cssselect2==0.3.0
defusedxml==0.6.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
multidict==4.7.5
netaddr==0.7.19
Pillow==7.1.1
pycparser==2.20
pylint==2.4.2
python-chess==0.23.5
python-dateutil==2.8.0
requests==2.22.0
six==1.12.0
tinycss2==1.0.2
typed-ast==1.4.0
urllib3==1.25.6
webencodings==0.5.1
wrapt==1.11.2
yarl==1.4.2
