<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Versus</title>
</head>
<body>
<h1>Versus</h1>
<h4>Welcome to the Versus chess server. For usage and further information, please refer to the <a title="Documentation"
                                                                                                  href="https://github.com/utzn/Versus/"
                                                                                                  target="_blank"
                                                                                                  rel="noopener">documentation</a>.
    If you have any suggestions, feel free to drop me an <a title="Mail"
                                                            href="mailto:contact@nisslmueller.me">e-mail</a>.</h4>
</body>
</html>